{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Profil {% endblock %}

{% block contenu %}

    <section>

        <div class="mx-auto my-auto" style="width: 50%">
            {{ form_start(form) }}
            {{ form_rest(form) }}
            <div class="w-100 col d-flex justify-content-center">
                <button class="btn btn-success" type="submit" onclick="return confirm('Etes-vous sur de vouloir modifier votre profil ?')">Modifier</button>
                <a href="{{ path('app_accueil') }}" class="btn btn-danger ms-5"><i class="fa-solid fa-arrow-left"></i> Retour</a>
            </div>

            {{ form_end(form) }}
        </div>

    </section>

{% endblock %}