{% extends 'base.html.twig' %}
{% import 'macro/macro.html.twig' as macro %}

{% block title %}{{ parent() }} Les tableaux {% endblock %}
{% block navBarTitle %}{{ tableau.titre|upper }}{% endblock %}
{% block TableauxActive %}active{% endblock %}

{% block contenu %}
    {% set memoires = tableau.memoires %}
    <style>
        .imgPointer:hover{
            cursor: pointer;
        }
    </style>
    <section class="mx-auto h-75 mt-4">
        {% if memoires is empty %}

            <div class="mt-5 mx-auto text-center" style="width: 95%;">
                <h1>IL N'Y A PAS DE MÉMOIRE DANS CE TABLEAU</h1>
            </div>
        {% else %}
        {% endif %}
        <div class="row row-cols-1 row-cols-md-{% if memoires|length ==1 %}1{% elseif memoires|length <3 %}4{% else%}6{% endif%} mx-auto" style="width: 95%;">
            {% for memoire in memoires %}
                <div class="col mb-4">
                    <div class="card h-100 text-center">
                        <img src="{{ memoire.image }}" class="card-img-top img-fluid h-75 imgPointer" id="{{ 'img'~memoire.id }}" alt="..." data-toggle="modal" data-target="#souvenirModal">
                        <div class="card-body">
                            <h5 class="card-title">{{ memoire.titre }}</h5>
                            <i><span style="font-size: 0.7rem">{{ memoire.datePublication|date("d/m/Y") }}</span></i>
                        </div>
                    </div>
                </div>
                {{ macro.create_modal(memoire.id, memoire.titre, memoire.description,'img'~memoire.id,memoire.image, memoire.datePublication|date("d/m/Y")) }}

            {% endfor %}
        </div>
    </section>

{% endblock %}
